*{
    font-family:fantasy;
}
.main{
    background-image: url(timelapse.gif);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid black; */
    margin-left: 580px;
    text-align: center;
    margin-top: 100px;
   width: 500px;
   height: 500px;
   color: white;
    border-radius: 250px;
}
#para{
    padding-top: 170px;
    font-size: 40px;
}
button{
    width: 90px;
    height: 30px;
    color: white;
    background-color: black;
}